{%  extends 'account/base.html' %}

{% block content %}

	{% include 'account/status.html' %}

	<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Order Id</th>
					<th>Customer</th>
					<th>Product</th>
					<th>Category</th>
					<th>Date Orderd</th>
					<th>Status</th>
				</tr>

					{% for order in orders %}
						<tr>
							<td> {{ order.id }}</td>
							<td> <a href="{% url 'account-cust_detail' order.customer.id %}">{{ order.customer.last_name }} </a></td>
							<td> {{ order.product.name }}</td>
							<td> {{ order.product.category }}</td>
							<td> {{ order.product.date_created }}</td>
							<td> {{ order.choices }}</td>
							
						</tr>

					{% endfor %}
				

			</table>
		</div>
	</div>
</div>

{% endblock content%}